services:
  openvpn-client:
    build:
      context: ./build
    privileged: true
    container_name: openvpn-client
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      TZ: ${TIME_ZONE}
      SUBNETS: ${MY_SUBNETS}
      VPN_AUTH_SECRET: vpn_credentials
      HTTP_PROXY: on
      SOCKS_PROXY: on
      HTTP_PROXY_USERNAME_SECRET: proxy_username
      HTTP_PROXY_PASSWORD_SECRET: proxy_password
      SOCKS_LISTEN_ON: ${MY_SOCKS_LISTEN_ON}
      SOCKS_PROXY_USERNAME: proxy_sock_username
      SOCKS_PROXY_PASSWORD: proxy_sock_password
    restart: unless-stopped
    ports:
      - 8778:8080
      - 8779:1080
    secrets:
      - proxy_username
      - proxy_password
      - proxy_sock_username
      - proxy_sock_password
      - vpn_credentials

secrets:
  proxy_username:
    file: /opt/data-etc/openvpn-client/proxy_username.txt
  proxy_password:
    file: /opt/data-etc/openvpn-client/proxy_password.txt
  proxy_sock_username:
    file: /opt/data-etc/openvpn-client/proxy_username.txt
  proxy_sock_password:
    file: /opt/data-etc/openvpn-client/proxy_password.txt
  vpn_credentials:
    file: /opt/data-etc/openvpn-client/vpn_credentials.txt